.addOption{
    display: flex;
    padding: $s-size;
}

.addOption-error{
    color:$off-white;
    font-style: italic;
    padding: 0 $m-size;
}

.addOption-input{
    background: $dark-blue;
    border:none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color:$off-white;
    flex-grow: 1;
    margin-right: $s-size;
}